<div class="modal fade" id="gSettingsModal" tabindex="-1" role="dialog" aria-labelledby="gSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gSettingsModalLabel">Game Settings</h5>
        <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target=".navbar-collapse.show" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="deckCountControls">Decks</label>
            <div class="input-group col-sm-6">
              <input type="text" class="form-control-plaintext" readonly ng-value="model.bjg.game.opts.deckCount" name="deck_count" value=""
                     aria-label="Deck Count" aria-describedby="deckCountControls">
              <div class="input-group-append" id="deckCountControls">
                <button class="btn btn-outline-danger d-flex align-items-center" ng-click="model.decDeckCount()" type="button">
                  <i class="material-icons" >remove</i>
                </button>
                <button class="btn btn-outline-success d-flex align-items-center" ng-click="model.incDeckCount()" type="button">
                  <i class="material-icons" >add</i>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="dealSpeedControls">Deal Rate (seconds)</label>
            <div class="input-group col-sm-6">
              <input type="text" class="form-control-plaintext" readonly ng-value="model.bjg.game.opts.dealRate | number : 1" name="deal_speed" value="" aria-label="Deck Count" aria-describedby="dealSpeedControls">
              <div class="input-group-append" id="deckCountControls">
                <button class="btn btn-outline-danger d-flex align-items-center" ng-click="model.decDealRate()" type="button">
                <i class="material-icons" >remove</i></button>
                <button class="btn btn-outline-success d-flex align-items-center" ng-click="model.incDealRate()" type="button">
                <i class="material-icons" >add</i></button>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-6 col-form-label col-auto pt-0">Show Deck Stats</label>
            <div class="input-group col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" ng-model="model.bjg.game.opts.showDeckStats" id="showDeckStatsCheck" name="showDeckStats">
                <label class="form-check-label" for="showDeckStatsCheck"></label>
              </div>
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <legend class="col-sm-6 col-form-label">Blackjack Payout</legend>
              <div class="col-sm-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" ng-model="model.bjg.game.opts.payout" name="gridRadios" id="gridRadios1" value="2.0" >
                  <label class="form-check-label" for="gridRadios1">
                    2 to 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" ng-model="model.bjg.game.opts.payout" name="gridRadios" id="gridRadios2" value="1.5" checked>
                  <label class="form-check-label" for="gridRadios2">
                    3 to 2
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" ng-model="model.bjg.game.opts.payout" name="gridRadios" id="gridRadios3" value="1.2" >
                  <label class="form-check-label" for="gridRadios3">
                    6 to 5
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="collapse" data-target=".navbar-collapse.show">Close</button>
        <button type="button" class="btn btn-primary" ng-click="model.bjg.shuffleShoe()" data-dismiss="modal" data-toggle="collapse" data-target=".navbar-collapse.show">Shuffle</button>
      </div>
    </div>
  </div>
</div>
